.main{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    & > .mbody{
        position: relative;
        flex: 1;
        overflow: hidden;
        display: flex;
        height: 100%;
        & > .left{
            position: relative;
            flex-shrink: 0;
            width: 30rem;
            //background: #06FF00;
            margin: 0;
            display: flex;
            flex-direction: column;
            & > header{
                position: relative;
                flex-shrink: 0;
                padding: 3rem 0;
                & > div{
                    position: relative;
                    font-size: 1.8rem;
                    color:#222;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
            }
            & > div:nth-child(2){
                position: relative;
                flex: 1;
                & > .title{
                    position: relative;
                    font-size: 2rem;
                    font-weight: bold;
                    text-align: center;
                }
                & > .menuList{
                    position: relative;
                    & > div{
                        position: relative;
                        line-height: 2em;
                        font-size: 1.8rem;
                        border-radius: 0.3rem;
                        background: rgba(0,0,0,0.1);
                        margin: 1.5rem 0;
                        padding: 0.3rem 1rem;
                        cursor: pointer;
                        transition: all ease-in-out 300ms;
                        &:hover{
                            background: rgba(0,0,0,0.2);
                            color:#444;
                            box-shadow: 0px 4px 40px rgba(166,166,166,.8);
                        }
                    }
                    & > .choose{
                        position: relative;
                        background: rgba(0,0,0,0.8);
                        color:#fefefe;
                        &:hover{
                            background: rgba(0,0,0,0.8);
                            color:#fefefe;
                            box-shadow: 0px 4px 40px rgba(166,166,166,.8);
                        }
                    }
                }
            }
            & > footer{
                position: relative;
                flex-shrink: 0;
            }
        }
        & > .right{
            position: relative;
            margin: 0;
            flex: 1;
            padding: 0  1rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100%;
            & > header{
                position: relative;
                flex-shrink: 0;
                & > div{
                    position: relative;
                    border-radius: 0.3rem;
                    padding: 1rem;
                    box-sizing: border-box;
                    border: 1px solid rgba(100,100,100, 0.6);
                    display: flex;
                    & > .cmdpath{
                        position: relative;
                        flex: 1;
                        display: flex;
                        & > div{
                            position: relative;
                            border-radius: 0.3rem;
                            padding: 0.5rem;
                            cursor: pointer;
                            margin: 0 0.5rem;
                            transition: all ease-in-out 300ms;
                            & > img{
                                position: relative;
                                width: 2.5rem;
                            }
                            &:hover{
                                box-shadow: 0px 4px 40px rgba(166,166,166,.8);
                                background: #ffffff;
                            }
                        }
                        & > .path{
                            position: relative;
                            display: flex;
                            align-items: center;
                            box-sizing: border-box;
                            padding: 0 1rem;
                        }
                        & > div:last-child{
                            flex: 1;
                            background: #333333;
                        }
                    }
                    & > .cmdfile{
                        position: relative;
                        flex-shrink: 0;
                        display: flex;
                        & > div{
                            position: relative;
                            border-radius: 0.3rem;
                            padding: 0.5rem 3rem;
                            cursor: pointer;
                            margin: 0 0.5rem;
                            transition: all ease-in-out 300ms;
                            background: #6BCB77;
                            & > img{
                                position: relative;
                                width: 2.5rem;
                            }
                            &:hover{
                                box-shadow: 0px 4px 40px rgba(166,166,166,.8);
                                //background: #ffffff;
                            }
                        }
                        & > div:first-child{
                            background: rgb(255,202,40);
                        };
                    }
                }
            }
            & > div:nth-child(2){
                position: relative;
                flex: 1;
                box-sizing: border-box;
                padding: 2rem 0;
                height: 100%;
                overflow: hidden;
                .fileBody{
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-content:flex-start;
                    height: 100%;
                    overflow-y: auto;
                    .fileBox{
                        position: relative;
                        //flex-shrink: 0;
                        width: 18rem;
                        max-height: 20rem;
                        aspect-ratio: calc(1/1);
                        margin: 1rem;
                        box-sizing: border-box;
                        padding: 1rem;
                        border-radius: 0.3rem;
                        border: 1px solid rgba(100,100,100,0.3);
                        cursor: pointer;
                        box-shadow: 0px 8px 20px rgba(0,0,0,.1);
                        top:0;
                        transition: all ease-in-out 300ms;
                        .fileICO{
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 14rem;
                            aspect-ratio: calc(1/1);
                            margin: 0 auto;
                            & > img{
                                position: relative;
                                //width: 14rem;
                                height: 8rem;
                                transition: all ease-in-out 300ms;
                            }
                        }
                        .filename{
                            position: absolute;
                            bottom: 0.1rem;
                            left: 0.1rem;
                            width:  99%;
                            color:#222222;
                            line-height: 2rem;
                            border-radius: 0.3rem;
                            background: rgb(255,202,40);
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                            padding: 0.3rem ;
                            box-sizing: border-box;
                            text-align: center;
                        }
                        &:hover img{
                            height: 9rem;
                        }
                        &:hover{
                            top:-0.5rem;
                            box-shadow: 0px 8px 20px rgba(0,0,0,.2);
                        }
                    }
                }
            }
            & > footer{
                flex-shrink: 0;
            }
        }
    }
}
.wait{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color:#222;
    height: 100%;
}

/* 整个滚动条背景 */
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
/* 滚动条上的按钮 (上下箭头). */
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    //background-color: rgb(166, 167, 173);
    //opacity: 0.2;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    /* 上下两头给个圆角 */
    background-color: #ababab;
    border-radius: 10px;
    /* 还可以给它加个阴影 */
    //box-shadow: inset 0 0 6px rgba(0, 0, 0, .9);
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 6px rgba(10, 10, 10, 0.2);
    border-radius: 10px;
    background-color: #ddd;
}
/* 当同时有垂直滚动条和水平滚动条时交汇的部分. */
::-webkit-scrollbar-corner {
    background: steelblue;
    border-radius: 50% 50%;
}
