$show:show;


.box{
  position: relative;
  margin: 0 0 0.5rem 0;
  box-shadow: 0px 8px 40px rgba(0,0,0,.2);
  background: #222;
  color:#fefefe;
  padding: 1rem;
  border-radius: 0.3rem;
  width: 25rem;
  cursor: pointer;
  transition: top 400ms ease-out;
  animation: $show 300ms ease-in-out alternate forwards;

  display: flex;
  z-index: 99999999999;

  & img {
    position: relative;
    width: 2rem;
  }
  .p{
    line-height: 2rem;
    margin-left: 1rem;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@keyframes show {
  from{
    margin-top: 1rem;
    opacity:0
  }
  to{
    margin-top: 0;
    opacity:1
  }
}


