.main {
    position: relative;
    height: 100%;
    margin-left: 2rem;
    border-radius: 0.6rem;
    box-sizing: border-box;
    padding: 1rem;
    flex-direction: column;
    & > header{
        position: relative;
        padding: 0.3rem 0 0.3rem 2rem;
        border-left: 0.3rem solid #fefefe;
        flex-shrink: 0;
        width: 100%;
        font-size: 1.5rem;
        color: #fefefe;
        margin-bottom: 2rem;
        box-sizing: border-box;

        display: flex;
        & > div{
            position: relative;
            box-sizing: border-box;
            //background: #57c6e1;
        }
        & > div:first-child{
            position: relative;
            flex: 1;
            padding: 0.3rem 0rem;
        }
        & > div:last-child{
            position: relative;
            flex-shrink: 0;
            padding: 0.3rem 1rem;
            border-radius: 0.3rem;
            background: #6BCB77;
            cursor: pointer;
            transition: all ease-in-out 300ms;
            margin: 0;
        }
        & > div:last-child:hover{
            box-shadow: 0 8px 20px rgba(0,0,0,0.8);
        }
    }
    & > .body{
        position: relative;
        width: 100%;
        flex: 1;
        box-sizing: border-box;
    }
    & > footer{
        box-sizing: border-box;
        position: relative;
        position: relative;
        //padding: 0.3rem 0 0.3rem 2rem;
        margin-top: 1rem;
        font-size: 1.5rem;
        width: 100%;
        color: #fefefe;
        background: #fefefe;
    }
}

.turnAddctionPopup{
    position: relative;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    & > header{
        position: relative;
        text-align: center;
        font-size: 1.5rem;
        line-height: 3em;
        color:#222;
        flex-shrink: 0;
    }
    & > div:nth-child(2){
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        & > div{
            position: relative;
            margin: 1rem;
            display: flex;
            flex: 1;
            & > div{
            //    输入提示
                font-size: 1.2rem;
                color:#222;
                padding: 0.3rem;
            }
            & > div:first-child{
                position: relative;
                flex-shrink: 0;
                width: 6rem;
            }
            & > div:last-child{
                position: relative;
                flex: 1;
                display: flex;
                input{
                    position: relative;
                    display: block;
                    flex: 1;
                }
                border-bottom: 1px solid #333;
            }
        }
        & > div:last-child{
            //margin-bottom: 0;
        }
    }
    & > footer{
        position: relative;
        text-align: center;
        font-size: 1.5rem;
        line-height: 3em;
        color:#222;
        flex-shrink: 0;
    }
}