.main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    header{
        position: relative;
        width: 100%;
        flex-shrink: 0;
        font-size: 2rem;
        padding: 1rem;
        font-weight: 700;
        line-height: 2em;
        color:#fefefe;
    }
    .body{
        position: relative;
        width: 100%;
        flex: 1;
        padding: 1rem;
        border-radius: 0.6rem;
        background:rgba(2,2,2,0.3);
        backdrop-filter: blur(20px);
        box-sizing: border-box;
        box-shadow: 0px 8px 40px rgba(255,255,255,0.1);
    }
    footer{
        position: relative;
        width: 100%;
        flex-shrink: 0;
        padding: 1rem;
    }
}